* {margin: 0; padding: 0;}
html, body, .story_main {
	height: 100%;
}
body {
	color: #262626;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
}

a, a:visited {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

div.story_main {
	z-index: 0;
	height: 100%;
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

.story_main_inner {
	height: 100%;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	background-color: #1a1a1a;
	justify-content: center;
	position: relative;
	align-items: stretch;
	box-sizing: border-box;
	flex-shrink: 0;
}

div.story_closebutton {
	right: 0;
	background: 0 0;
	border: 0;
	cursor: pointer;
	margin: 16px;
	padding: 0;
	position: absolute;
	top: 0;
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

button.story_closebutton_button {
	align-items: center;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 8px;
}

div.story_closebutton_inner {
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

svg.story_closebutton_svg {
	display: block;
	position: relative;
}

div.story_content {
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

div.story_container {
	height: 96%; /*ДОЛЖНО УЙТИ В JS!!!*/
	width: 25%;
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

.story_wrapper {
	border-left: 46px solid transparent;
	border-right: 46px solid transparent;
	box-sizing: content-box;
	color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-left: -46px;
	user-select: none;
	width: 100%;
	align-items: stretch;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

div.story_inner {
	background: #000;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	flex-shrink: 0;
}

div.story_video_wrapper {
	align-items: center;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

div.story_video_outer {
	border-radius: 8px;
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

div.story_video_inner {
	width: 100%;
	height: 100%; /*ВОЗМОЖНО В JS*/
	display: block;
	flex: none;
	position: relative;
	box-sizing: border-box;
}

img.story_video_image {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

video.story_video {
	object-fit: cover;
	display: block;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: absolute;
}

div.story_header {
	background: linear-gradient(180deg,rgba(38,38,38,.8) 0%,rgba(38,38,38,0) 100%);
	display: flex;
	padding: 20px 16px 32px;
	position: absolute;
	top: 0;
	width: 100%;
	align-items: stretch;
	box-sizing: border-box;
	flex-direction: column;
}

div.story_header_bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 8px;
	align-items: stretch;
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
}

div.story_header_bar_part {
	flex-grow: 1;
	height: 2px;
	position: relative;
	margin-right: 2px;
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

div.story_header_bar_part_grey {
	background: rgba(255,255,255,.35);
	border-radius: 2px;
	height: 2px;
	position: absolute;
	top: 0;
	width: 100%;
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

div.story_header_bar_part_white {
	background: #fff;
	border-radius: 2px;
	height: 2px;
	position: absolute;
	top: 0;
	width: 100%;
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

div.story_header_bar_part_current {
	transition: width .25s linear;
	will-change: width;
}

div.story_header_content {
	flex: 0 0 auto;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	align-content: stretch;
	box-sizing: border-box;
	display: flex;
	position: relative;
}

div.story_header_content_account {
	align-items: center;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

div.story_header_content_account_wrapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
}

a.story_header_content_account_link, a.story_header_content_account_link:visited {
	width: 32px;
	height: 32px;
	color: #00376b;
	cursor: pointer;
	background-color: #fafafa;
	border-radius: 50%;
	box-sizing: border-box;
	display: block;
	flex: 0 0 auto;
	overflow: hidden;
	position: relative;
}

img.story_header_content_account_img {
	height: 100%;
	width: 100%;
}

div.story_header_content_account_name {
	margin-left: 8px;
	flex: 0 0 auto;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

div.story_header_content_account_name_wrapper {
	flex: 0 0 auto;
	justify-content: flex-start;
	flex-direction: row;
	align-items: flex-start;
	align-content: stretch;
	box-sizing: border-box;
	display: flex;
	position: relative;
}

div.story_header_content_account_name_inner {
	padding-right: 10px;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
}

a.story_header_content_account_name_link, a.story_header_content_account_name_link:visited {
	color: #fff !important;
	font-weight: 600;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 5px;
	margin-left: -5px;
}

.story_header_content_account_name_date {
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	opacity: .6;
	color: #fff;
}

div.story_header_content_icons {
	flex-direction: row;
	margin-left: auto;
	min-height: 40px;
	align-items: center;
	display: flex;
	box-sizing: border-box;
	flex-shrink: 0;
	position: relative;
}

.story_header_content_icons_play {
	align-items: center;
	background: 0 0;
	border: 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
	padding: 8px;
	color: #262626;
	line-height: 18px;
}

div.story_header_content_icons_play_inner {
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	position: relative;
}

svg.story_header_content_icons_play_svg, svg.story_header_content_icons_sound_svg {
	display: block;
	position: relative;
}

.story_button_left {
	left: -58px;
	display: block;
	margin: 16px;
	margin-top: -13px;
	opacity: .2;
	position: absolute;
	top: 50%;
	transition: opacity .1s ease-in;
	background: 0 0;
	border: 0;
	cursor: pointer;
	padding: 0;
	line-height: 18px;
}

div.story_button_left_inner {
	background-position: -130px -98px;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-image: url('images/sprites.png');
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

.story_button_right {
	right: -58px;
	display: block;
	margin: 16px;
	margin-top: -13px;
	opacity: .2;
	position: absolute;
	top: 50%;
	transition: opacity .1s ease-in;
	background: 0 0;
	border: 0;
	cursor: pointer;
	padding: 0;
	line-height: 18px;
}

div.story_button_right_inner {
	background-position: -162px -98px;
	height: 30px;
	width: 30px;
	background-repeat: no-repeat;
	background-image: url('images/sprites.png');
	align-items: stretch;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
}

.story_header_content_icons_close {
	display: none;
}

@media (max-device-width: 812px) and (orientation: portrait) {
	div.story_header {
		background: linear-gradient(to bottom,rgba(0,0,0,.2),transparent);
		height: 72px;
		padding: 8px 8px 0;
		pointer-events: auto;
		display: flex;
		flex-direction: column;
		flex: none;
		width: 100%;		
		position: relative;
		align-items: stretch;
	}
	
	div.story_container {
		height: 100%;
		width: 100%;
		position: relative;
		transform-style: preserve-3d;
		align-items: stretch;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
	}
	
	div.story_video_outer {
		border-radius: 0px;
	}
	
	.story_header_content_icons_play,
	.story_header_content_icons_sound_svg,
	.story_closebutton	{
		display: none !important;
	}
	
	div.story_header_content {
		margin: 0 -8px 0 8px;
	}
	
	.story_header_content_icons_close {
		min-height: 40px;
		min-width: 40px;
		align-items: center;
		background: 0 0;
		border: 0;
		cursor: pointer;
		display: flex;
		flex-grow: 0;
		justify-content: center;
	}
	
	.story_header_content_icons_close_span {
		background-size: 179px 179px;
		background-position: 0 -135px;
		background-image: url('images/sprites2.png');
		background-repeat: no-repeat;
		height: 44px;
		width: 44px;
		display: block;
	}
}